{% extends "../base.html" %}

{%- block styles %}
  <link rel="stylesheet" href="/css/pages/login.css">
  {% parent %}
{%- endblock styles %}

{% block wrapper_attribs %}{% endblock wrapper_attribs %}

{%- block navbar %}{%- endblock navbar %}

{%- block masthead -%}{%- endblock masthead -%}

{% block container_attribs %}class="container"{% endblock container %}

{%- block main %}
<div class="reg-block">
  <div class="reg-block-header">
    <a href={{urls.static.root}}><img class="company-logo view" src={% if logoUrl %}"{{logoUrl}}"{% else %}"/images/tabbio.png"{% endif %}></a>
    <h2>{{form_title}}</h2>           
  </div>
  {%- block content %}
  {%- endblock content %}
</div>
{%- endblock main %}

{%- block copyright %}{%- endblock copyright %}