{% extends "../base.html" %}

{%- block styles %}
    {% parent %}
    <link rel="stylesheet" href="/css/pages/login.css">
{%- endblock scripts %}

{%- block navbar %}
{%- endblock navbar %}

{%- block main -%}
<div class="container">
	{%- block content -%}
	{%- endblock content -%}
</div>
{%- endblock main -%}

{%- block copyright %}
{%- endblock copyright %}

{%- block scripts %}
{% parent %}
<script type="text/javascript" src="vendor/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    $.backstretch([
      "images/bg/5.jpg",
      "images/bg/4.jpg",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
{%- endblock scripts %}