{% extends 'base.html' %}

{% set form_title = 'Partner Login' %}

{% block content %}
  <form method="POST" action={{urls.users.partnerlogin}} data-parsley-validate data-parsley-focus="first" data-parsley-priority-enabled="false">
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
      <input type="email" id="email" name="username" class="form-control" placeholder="Email" data-parsley-trigger="change focusout blur" required data-parsley-type="email" data-parsley-type-message="This doesn't look like a valid email" data-parsley-required-message="Your email is required to login">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" data-parsley-trigger="change focusout blur" required data-parsley-required-message="Your password is required to login">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 margin-bottom-25">
        <button type="submit" value="send" class="btn-u btn-block">Partner Login</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 centered">
      <p>Not a partner yet? <a href={{urls.users.partnerregister}}>Sign up now.</p> 
    </div>
  </div>
{% endblock content %}

{%- block scripts %}
  {% parent %}
  <script type="text/javascript" src="/vendor/backstretch/jquery.backstretch.min.js"></script>
  <script type="text/javascript">
    $.backstretch([
      "/images/bg/1.jpg",
      "/images/bg/2.jpg",
      "/images/bg/3.jpg",
      "/images/bg/6.jpg",
      ], {
        fade: 2500,
        duration: 7000
    });
  </script>
{%- endblock scripts %}