{% extends 'base.html' %}

{% set form_title = 'Partner Register' %}

{% block content %}
  <form method="POST" action={{urls.users.partnerregister}} data-parsley-validate data-parsley-focus="first" data-parsley-priority-enabled="false">
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" data-parsley-trigger="change focusout blur" required data-parsley-required-message="Your name is required">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
      <input type="text" id="company" name="company" class="form-control" placeholder="Company Name" data-parsley-trigger="change focusout blur" required data-parsley-required-message="Your company is required">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" data-parsley-trigger="change focusout blur" required data-parsley-required-message="A phone number is required to register">
    </div>
    <div class="input-group margin-bottom-20">
      <input type="text" id="url" name="url" class="form-control" placeholder="Requested URL" data-parsley-trigger="change focusout blur">
      <span class="input-group-addon url">.tabb.io</span>
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" data-parsley-trigger="change focusout blur" required data-parsley-type="email" data-parsley-type-message="This doesn't look like a valid email" data-parsley-required-message="Your email is required">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" data-parsley-trigger="change focusout blur" required data-parsley-required-message="Your password is required">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input type="password" id="password_conf" name="password_conf" class="form-control" placeholder="Confirm Password" data-parsley-trigger="change focusout blur" required data-parsley-required-message="Please confirm your password">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 margin-bottom-25">
        <button type="submit" value="send" class="btn-u btn-block">Request Credentials</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 centered">
      <p>Already a partner? <a href={{urls.users.partnerlogin}}>Login</a>.</p> 
    </div>
  </div>
{% endblock content %}
