{% extends 'base.html' %}

{% block content %}
<div class="reg-block">
  <div class="reg-block-header">
    <a href={{urls.static.root}}><img class="company-logo view" src="{{logoUrl}}"></a>
    <h2>View Statement</h2>           
  </div>
  <form method="POST" action={{urls.invoices.portal}} data-parsley-validate data-parsley-focus="first" data-parsley-priority-enabled="false">
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" data-parsley-trigger="change focusout blur" required data-parsley-required-message="A phone number is required to view your invoice">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <input type="text" id="invoice" name="invoiceId" class="form-control" placeholder="Invoice Number" data-parsley-trigger="change focusout blur" required data-parsley-required-message="To view your invoice we need your number">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 margin-bottom-25">
        <button type="submit" value="send" class="btn-u btn-block">View Statement</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 centered">
      <p>Are you a merchant or a lender? <a class="color-green" href={{urls.users.partnerlogin}}>Partner with us</a>.</p> 
    </div>
  </div>
</div>
{% endblock content %}