{% extends 'base.html' %}

{% block content %}
<div class="reg-block">
  <div class="reg-block-header">
    <a href={{urls.static.root}}><img style="display:block; margin-left:auto; margin-right:auto;" src="{{logoUrl}}"></a>
    <h2>View Statement</h2>           
  </div>
  <form method="POST" action={{urls.invoices.portal}}>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" data-parsley-trigger="change focusout blur" required data-parsley-type="digits" data-parsley-type-message="This doesn't look like a valid phone number" data-parsley-required-message="A phone number is required to login" data-parsley-length="[10, 10]" data-parsley-length-message="Your phone number must be 10 numbers long">
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <input type="text" id="invoice" name="invoiceId" class="form-control" placeholder="Invoice Number" data-parsley-trigger="change focusout blur" required data-parsley-required-message="We need your pin code so that you can login" data-parsley-length="[4, 12]" data-parsley-length-message="Pin codes must be at least 4 digits">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 margin-bottom-25">
        <button type="submit" value="send" class="btn-u btn-block">View Statement</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 centered">
      <p>Are you a merchant or a lender? <a class="color-green" href={{urls.users.partnerlogin}}>Partner with us</a>.</p> 
    </div>
  </div>
</div>
{% endblock content %}