{% extends 'base.html' %}

{% set form_title = 'View Statement' %}

{% block content %}
  <form method="POST" id="view-statement" class="sky-form" action={{urls.invoices.portal}}>
    <fieldset>
      <div class="row">
        <section>
          <label class="input">
            <i class="icon-append fa fa-phone"></i>
            <input type="text" id="phone" name="phone" placeholder="Phone Number">
          </label>
        </section>
      </div>
      <div class="row">
        <section >
          <label class="input">
            <i class="icon-append fa fa-barcode"></i>
            <input type="text" id="invoice" name="invoiceId" placeholder="Purchase Code">
          </label>
        </section>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 margin-bottom-25">
          <button type="submit" value="send" class="btn disabled btn-u btn-block">View Statement</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="row">
    <div class="col-md-12 centered">
      <p>Are you a merchant or a lender? <a class="color-green" href={{urls.users.partnerlogin}}>Login or Register now.</a>.</p> 
    </div>
  </div>
{% endblock content %}

{%- block scripts %}
  {% parent %}
  <script type="text/javascript" src="/vendor/backstretch/jquery.backstretch.min.js"></script>
  <script type="text/javascript">
    $.backstretch([
      "/images/bg/5.jpg",
      "/images/bg/4.jpg",
      ], {
        fade: 1000,
        duration: 7000
    });
  </script>
    <script src="/js/view-statement.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
        ViewStatement.initViewStatement();
    });
  </script>
{%- endblock scripts %}