<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">                     
        <p>
          2014 &copy; tabb.io. ALL Rights Reserved. 
          <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </p>
      </div>
      <div class="col-md-6">  
        <a href={{urls.static.root}}>
          <!-- <img class="pull-right" id="logo-footer" src="images/tabbio-small.png" alt=""> -->
        </a>
      </div>
    </div>
  </div> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->