<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">                     
        <p>
          2014 &copy; tabb.io. ALL Rights Reserved. 
         <!--  <a href={{urls.static.privacy}}>Privacy Policy</a> | <a href={{urls.static.terms}}>Terms of Service</a> -->
        </p>
      </div>
      <div class="col-md-6">  
        <!-- <a class="pull-right" style="margin-top:10px; color:#fff;" href={{urls.static.root}}>
          Powered by tabb.io
        </a> -->
      </div>
    </div>
  </div> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->