<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 md-margin-bottom-40">

        <div class="headline"><h2>About</h2></div>  
        <p class="margin-bottom-25 md-margin-bottom-40">Tabb.io is a leading provider of white label private label credit solutions for online marketplaces and merchants.</p>    
 
        <div class="headline"><h2>Monthly Newsletter</h2></div> 
        <p>Subscribe to our newsletter and stay up to date with the latest news!</p>
        <form class="footer-subsribe">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address">                            
            <span class="input-group-btn">
              <button class="btn-u" type="button">Subscribe</button>
            </span>
          </div>                  
        </form>                         
      </div> 

      <div class="col-md-4 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>Recent Blog Entries</h2></div>
          <dl class="dl-horizontal">
            <dt><a href="#"><img src="images/blog/14.jpg" alt="" /></a></dt>
            <dd>
              <p><a href="#">Payments news lorem ipsum dolar sameit portabo aquam datos.</a></p> 
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt><a href="#"><img src="images/blog/8.jpg" alt="" /></a></dt>
            <dd>
              <p><a href="#">Payments news lorem ipsum dolar sameit portabo aquam datos.</a></p> 
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt><a href="#"><img src="images/blog/11.jpg" alt="" /></a></dt>
            <dd>
              <p><a href="#">Payments news lorem ipsum dolar sameit portabo aquam datos.</a></p> 
            </dd>
          </dl>
        </div>
      </div>

      <div class="col-md-4">
        <div class="headline"><h2>Contact Us</h2></div> 
        <address class="md-margin-bottom-40">
          123 Main St <br />
          Philadelphia, PA 19127 <br />
          Phone: 800 123 3456 <br />
          Email: <a href="mailto:hello@tabb.io" class="">hello@tabb.io</a>
        </address>

        <div class="headline"><h2>Stay Connected</h2></div> 
        <ul class="social-icons">
          <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
          <li><a href="http://www.facebook.com/tabbio" data-original-title="Facebook" class="social_facebook" target="_blank"></a></li>
          <li><a href="http://www.twitter.com/tabb_io" data-original-title="Twitter" class="social_twitter" target="_blank"></a></li>
          <li><a href="https://plus.google.com/+TabbIo" data-original-title="Google Plus" class="social_googleplus" target="_blank"></a></li>
          <li><a href="https://www.linkedin.com/company/tabb-io" data-original-title="Linkedin" class="social_linkedin" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </div> 
</div>