  <div class="clear"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="unstyled center list-circle-icons list-circle-icons-small">
              <li><a href="http://www.facebook.com/tabbio" target="_blank" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Like us on Facebook"><span class="fa fa-facebook"></span></a></li>
              <li><a href="http://www.twitter.com/tabb_io" target="_blank" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Follow us on Twitter"><span class="fa fa-twitter"></span></a></li>
              <li><a href="https://plus.google.com/112382070351069863899" target="_blank" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Follow us on Google Plus"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="https://www.linkedin.com/company/tabb-io" target="_blank" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Follow us on Linked In"><span class="fa fa-linkedin"></span></a></li>
            </ul>
            <ul class="list-inline">
              <li><a href={{urls.static.root}}>Home</a></li>
              <!-- <li><a href={{urls.static.about}}>About</a></li>
              <li><a href={{urls.static.merchants}}>Merchants</a></li>
              <li><a href={{urls.static.consumers}}>Consumers</a></li>
              <li><a href={{urls.static.support}}>Support</a></li> -->
              <li><a href={{urls.static.contact}}>Contact</a></li>
              <!-- {% if g.user.is_authenticated() %}
              <li><a href={{urls.users.logout}}>Logout</a></li>
              {% else %}
              <li><a href={{urls.users.register}}>Register</a></li>
              <li><a href={{urls.users.login}}>Login</a></li>
              {% endif %} -->
            </ul>
            <p>© Copyright 2014. tabb.io.</p>
          </div><!-- end col -->
        </div><!-- end row fluid -->
      </div><!-- end container -->
    </footer>