{% set navigation_bar = [
  {url: urls.static.company, text: 'About'},
  {url: urls.static.products, text: 'Products'},
  {url: urls.static.support, text: 'Support'},
  {url: urls.static.faqs, text: 'FAQs'},
  {url: urls.static.contact, text: 'Contact'}
] %}
{% set navigation_bar = [
  {url: urls.static.company, text: 'About'},
  {url: urls.static.products, text: 'Products'},
  {url: urls.static.support, text: 'Support'},
  {url: urls.static.faqs, text: 'FAQs'},
  {url: urls.static.contact, text: 'Contact'}
] %}

<!--=== Header ===-->    
<div class="header">
 <!-- Topbar -->
 <div class="topbar">
  <div class="container">
    <!-- Topbar Navigation -->
    <ul class="loginbar pull-right">
      <li>
        <i class="fa fa-globe"></i>
        <a>Languages</a>
        <ul class="lenguages">
          <li class="active">
            <a href="#">English <i class="fa fa-check"></i></a> 
          </li>
          <li><a href="#">Spanish</a></li>
        </ul>
      </li>
      <li class="topbar-devider"></li>   
      {% if user.is.authenticated %}
      <li>
        <i class="fa fa-user"></i>
        <a>My Account</a>
        <ul class="lenguages">
          <li><a href="#">Account Settings</a></li>
          <li class="divider"></li>
          {% if user.is.admin %}
          <li><a href="#">Admin Portal</a></li>
          <li><a href="#">Merchant Portal</a></li>
          <li><a href={{urls.consumers.ustatementsummary}}>Consumer Portal</a></li>
          {% elif user.is.merchant %}
          <li><a href="#">Your Portal</a></li>
          {% elif user.is.consumer %}
          <li><a href={{urls.consumers.ustatementsummary}}>Your Portal</a></li>
          {% else %}
          {% endif %}
          <li class="divider"></li>
          <li><a href={{urls.users.logout}}>Logout</a></li>
        </ul>
      </li> 
      {% else %}
      <li><a href={{urls.users.consumerlogin}}>View Statement</a></li>
      {% endif %}  
    </ul>
    <!-- End Topbar Navigation -->
  </div>
</div>
<!-- End Topbar -->
<!-- Navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href={{urls.static.root}}>
        <img id="logo-header" src="/images/tabbio-small.png" alt="Logo" style="margin-top:-10px;">
      </a>
    </div>
    <!-- Collect the nav links -->
    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <!-- Links -->
        {% for link in navigation_bar %}
        <li {% if link.url == active_page %} class="active" {% endif %}><a href={{ link.url|e }}>{{ link.text|e }}</a></li>
        {% endfor %}
        <!-- End links -->
      </ul>
    </div><!--/navbar-collapse-->
  </div>    
</div>            
<!-- End Navbar -->
</div>
<!--=== End Header ===-->
