{% set navigation_bar = [
  {url: urls.static.company, text: 'About'},
  {url: urls.static.products, text: 'Products'},
  {url: urls.static.support, text: 'Support'},
  {url: urls.static.faqs, text: 'FAQs'},
  {url: urls.static.contact, text: 'Contact'}
] %}

<div class="navbar navbar-inverse navbar-fixed-top affix-top" id="navbar" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars"></span>
            <span class="btn-navbar-text">Menu</span>
          </a>
          <a class="brand" href={{urls.static.root}}><span class="logo"></span>tabb.io</a>
          <div class="navbar-collapse collapse">
            <div class="nav-menu pull-left">
              <ul class="nav nav-pills">
                {% for link in navigation_bar %}
                <li {% if link.url == active_page %} class="active" {% endif %}><a href={{ link.url|e }}>{{ link.text|e }}</a></li>
                {% endfor %}
              </ul>
            </div><!-- end nav-menu -->
            <div class="nav-menu pull-right">
              <ul class="nav nav-pills">
                <ul class="nav nav-user-options">
                  {% if user.is.authenticated %}
                  <img src="{{user.avatar(32)}}" style="margin-right:-15px;">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.email}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Account Settings</a></li>
                      <li class="divider"></li>
                      {% if user.is.admin %}
                      <li><a href="#">Admin Portal</a></li>
                      <li><a href="#">Merchant Portal</a></li>
                      <li><a href={{urls.consumers.uoverview}}>Consumer Portal</a></li>
                      {% elif user.is.merchant %}
                      <li><a href="#">Your Portal</a></li>
                      {% elif user.is.consumer %}
                      <li><a href="#">Your Portal</a></li>
                      {% else %}
                      {% endif %}
                      <li class="divider"></li>
                      <li><a href={{urls.users.logout}}>Logout</a></li>
                    </ul>
                  </li>
                  {% else %}
                  <li class="login"><a href={{urls.users.consumerlogin}} class="btn btn-light">Login</a></li>
                  {% endif %}
                </ul>
              </ul>
            </div><!-- end nav-menu -->          
          </div><!-- end navbar-collapse -->
        </div><!-- end col-md-12 -->
      </div>
    </div>
  </div>
</div>