{% extends "../base.html" %}

{%- block masthead -%}
<div class="container-wrapper container-top container-wrapper-{% block mast_attribs %}{% endblock mast_attribs %}">
  <div class="container container-admin container-top">
    <div class="row">
      <div class="col-md-12 center">
        {%- block masttitle -%}
        {%- endblock masttitle %}
      </div>
      <ul class="nav nav-pills">
        {% for link in user_nav %}
        <li {% if link.url == active_page %} class="active" {% endif %}><a href={{ link.url|e }}>{{ link.text|e }}</a></li>
        {% endfor %}
      </ul>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
{%- endblock masthead %}

{% block mast_attribs %}stripes{% endblock mast_attribs %}

{% block main %}
<div class="container content">
  <div class="row">
    {% block content %}
    {% endblock content %}
  </div>
</div>
{% endblock main %}

{%- block scripts %}
{% parent %}
<script src="/js/table.js"></script>
{%- endblock scripts %}
