{% extends 'base.html' %}

{% block content %}
<div class="clear"></div>
<div class="container-wrapper container-top container-wrapper-mint">
  <div class="container container-top">
    <div class="row">
      <div class="col-md-12 center">
        <h1>About</h1>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Meet tabb.io</h2>
      <p><strong>Subhead: Partem corrumpit ut qui, mei at magna paulo! Nam brute audiam adipisci ei! Ates quaeque dignissim pri vero eos aliquam eam no, nobis moderatius.</strong></p>
      <p>Content: Ut sit nisl consul ullamcorpers te, mel summo argu antum cu. Id civibus nominavi inciderint sea, sit hinc consequat cu, sea ut inani iusto putent quisque semper justo at risus. Mei id ferri feugait, eos intellegebat zril splendide has. Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt.</p>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h2>Our Mission and Experiences</h2>
      <p>Mission: Partem corrumpit ut qui, mei at magna paulo! Nam brute audiam adipisci ei! Ates quaeque dignissim pri, vero aliquam eam no, nobis moderatius consequuntur ut est! Ut sit nisl consul ullamcorper, ne falli soleat neque massa imperdiet meliore sit an dicta posidonium mei, sea at recteque hendrerit evertitur.</p>
      <p>Experiences: Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna pretium elit. Proin bibendum ipsum a ante viverra lobortis. Phasellus id augue ligula, nec ultrices augue.</p>
    </div>
  </div><!-- end row -->
</div>
<div class="container-wrapper">
  <div class="container">
    <div class="row margin-bottom-20">
      <div class="col-md-12 center">
        <h2>Our Team</h2>
      </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
      <div class="col-md-4 center">
        <p><img class="width-300" src="images/people/ben.png" alt=""></p>
        <h3>Ben Brown</h3>
        <p>Ben spent 6 years as a payments strategy consultant for First Annapolis Consulting where he worked with clients worldwide on strategy, operations, product, and mergers and acquisitions. Ben has Dual B.S. degrees from the University of Maryland, College Park.</p>
        <p class="margin-0">
          <a href="mailto:benbrownumd@gmail.com" class="btn btn-sm btn-success"><span class="fa fa-envelope"></span> Email Ben</a> 
          <a href="http://www.twitter.com/bebrown2" class="btn btn-sm btn-default" target="_blank"><span class="fa fa-twitter"></span> @bebrown2</a>
          <a href="http://linkedin.com/in/benjaminebrown" class="btn btn-sm btn-primary" target="_blank"><span class="fa fa-linkedin"></span> Ben Brown</a>
        </p>
      </div><!-- end col -->
      <div class="col-md-4 center">
        <p><img class="width-300" src="images/people/frank.png" alt=""></p>
        <h3>Frank Fumarola</h3>
        <p>Frank came from the ad tech and ecommerce worlds where he was a VP of Product for 50onRed. He managed a team of product managers, designers, user experience engineers, and front-end developers. Frank has Dual B.S. degrees from the University of Maryland, College Park.</p>
        <p class="margin-0">
          <a href="mailto:ffumarola@gmail.com" class="btn btn-sm btn-success"><span class="fa fa-envelope"></span> Email Frank</a> 
          <a href="http://www.twitter.com/ffumarola" class="btn btn-sm btn-default" target="_blank"><span class="fa fa-twitter"></span> @ffumarola</a>
          <a href="http://linkedin.com/in/francisfumarola/" class="btn btn-sm btn-primary" target="_blank"><span class="fa fa-linkedin"></span> Frank Fumarola</a>
        </p>
      </div><!-- end col -->
      <div class="col-md-4 center">
        <p><img class="width-300" src="images/people/jeff.png" alt=""></p>
        <h3>Jeff Csicsek</h3>
        <p>Jeff came from Big Human where he was a Sr. Software Engineer. He developed many of their clients prototypes and MVPs. He previously worked for an energy sustainability web company and an IT consultancy. Jeff has a B.S. from Virginia Tech.</p>
        <p class="margin-0">
          <a href="mailto:jcsicsek@gmail.com" class="btn btn-sm btn-success"><span class="fa fa-envelope"></span> Email Jeff</a> 
          <a href="http://www.twitter.com/jcsicsek" class="btn btn-sm btn-default" target="_blank"><span class="fa fa-twitter"></span> @jcsicsek</a>
        </p>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<div class="container">
  <div class="row margin-bottom-20">
    <div class="col-md-12 center">
      <h2>Our Advisors</h2>
    </div><!-- end col -->
  </div><!-- end row -->
  <div class="row">
    <div class="col-md-3 center">
      <p><img class="width-200" src="images/people/joao.png" alt=""></p>
      <h3>João Pecorari</h3>
      <p>João is a São Paulo resident and the CFO of <a href="http://www.jofege.com.br" target="_blank">Jofege</a>, a top construction and textiles firm with multiple facilities and thousands of employees in Brasil.</p>
      <p class="margin-0">
        <a href="#" class="btn btn-sm btn-success"><span class="fa fa-envelope"></span> Email Joao</a>
      </p>
    </div><!-- end col -->
    <div class="col-md-3 center">
      <p><img class="width-200" src="images/people/luis.png" alt=""></p>
      <h3>Luís Gustavo</h3>
      <p>Luís is a São Paulo resident and is the CTO and Co-Founder of <a href="https://cloudwalk.io/" target="_blank">Cloudwalk</a>, the Co-Founder of <a href="http://cloudmed.io/" target="_blank">Cloudmed</a>, and the Head of <a href="http://merka.ba/" target="_blank">Merkaba Investments</a>.</p>
      <p class="margin-0">
        <a href="#" class="btn btn-sm btn-success margin-bottom-5"><span class="fa fa-envelope"></span> Email Luis</a>
        <a href="http://www.twitter.com/luisbebop" target="_blank" class="btn btn-sm btn-default margin-bottom-5"><span class="fa fa-twitter"></span> @luisbebop</a>
      </p>
    </div><!-- end col -->
    <div class="col-md-3 center">
      <p><img class="width-200" src="images/people/ricardo.png" alt=""></p>
      <h3>Ricardo Parro</h3>
      <p>Ricardo is a São Paulo resident from Portugal and is the CTO at <a href="https://www.tacerto.com/" target="_blank">TaCerto</a>, former CTO at <a href="https://www.printi.com.br" target="_blank">Printi</a>, and former founding member and developer at <a href="https://www.wonga.com/" target="_blank">Wonga</a>.</p>
      <p class="margin-0">
        <a href="#" class="btn btn-sm btn-success margin-bottom-5"><span class="fa fa-envelope"></span> Email Ricardo</a>
        <a href="http://www.twitter.com/ricardoparro" target="_blank" class="btn btn-sm btn-default"><span class="fa fa-twitter"></span> @ricardoparro</a>
      </p>
    </div> <!-- end col --> 
<!--    <div class="col-md-2 center">
      <p><img class="width-150" src="images/people/adrian.png" alt=""></p>
      <h3>Adrian Talapan</h3>
      <p>Adrian is a Philadelphia resident from Romania and is the former CTO and Co-Founder of <a href="https://www.clarixinformatics.com/" target="_blank">Clarix</a>, a provider of clinical trial software which sold to Phase Forward.</p>
      <p class="margin-0">
        <a href="#" class="btn btn-sm btn-success"><span class="fa fa-envelope"></span> Email Adrian</a>
      </p>
    </div> --> <!-- end col --> 
<!--    <div class="col-md-2 center">
      <p><img class="width-150" src="images/people/vik.png" alt=""></p>
      <h3>Vik Paruchuri</h3>
      <p>Vik is a Cambridge resident and a <a href="http://www.kaggle.com/users/19518/vik-paruchuri" target="_blank">Kaggle "Master"</a> (top 1% of users) and consults for EdX, VCP, and more. Formerly, Vik was a Foreign Services Officer in Guyana.</p>
      <p class="margin-0">
        <a href="#" class="btn btn-sm btn-success margin-bottom-5"><span class="fa fa-envelope"></span> Email Vik</a>
        <a href="http://www.twitter.com/vikparuchuri" target="_blank" class="btn btn-sm btn-default margin-bottom-5"><span class="fa fa-twitter"></span> @vikparuchuri</a>
      </p>
    </div> --> <!-- end col -->
    <div class="col-md-3 center">
      <p><img class="width-200" src="images/people/josh.png" alt=""></p>
      <h3>Josh Kuzon</h3>
      <p>Josh is a New York resident and works in Corporate Strategy & Development at JPMorgan Chase. He has led or managed JPM's investments in <a href="https://squareup.com/" target="_blank">Square</a>, <a href="http://www.gopago.com/" target="_blank">GoPago</a>, etc.</p>
      <p class="margin-0">
        <a href="#" class="btn btn-sm btn-success margin-bottom-5"><span class="fa fa-envelope"></span> Email Josh</a>
        <a href="http://www.twitter.com/jkuzon" target="_blank" class="btn btn-sm btn-default margin-bottom-5"><span class="fa fa-twitter"></span> @jkuzon</a>
      </p>
    </div><!-- end col -->
  </div><!-- end row -->
</div>
<div class="clear"></div>
{% endblock %}