{% extends 'base.html' %}

{%- block styles %}
  <link rel="stylesheet" href="/css/pages/about.css">
  {% parent %}
{%- endblock scripts %}

{%- block masttitle -%}About tabb.io{%- endblock masttitle %}

{% block main %}
{% block content %}
  <div class="container content">
    <!-- About Description -->
    <div class="title-box-v2">
      <h2>What is <span class="color-green">tabb.io</span></h2>
      <p>Tabb.io is an open lending platform that enables your company to offer private label credit programs to your customers. You can increase brand loyalty and conversion rate through deferred payments, monthly installment plans, and revolving lines of credit for your brand. All with one simple integration.</p>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-12">
            <p>Why work with tabb.io?</p>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i> We're a team with vast experience in ecommerce and payments.</li>
              <li><i class="fa fa-check color-green"></i> We have a passion for enabling smaller merchants to better compete with the big box stores.</li>
              <li><i class="fa fa-check color-green"></i> We don't want our brand in your product experience.</li>
            </ul>                    
          </div>
        </div>
      </div><!--/col-md-8-->        
      <div class="col-md-4">
        <blockquote class="hero-unify">
          <p>WildAttire and it's main properties, Ties.com and Scarves.com, are very concerned with brand loyalty and controlling the user experience. That's why we chose tabb.io versus other branded solutions. We've seen about 10% of our customers utilizing our deferred payments and we have plans to test installment plans next!</p>
          <small>COO & President of WildAttire, Omar Sayyed</small>
        </blockquote>
      </div><!--/col-md-4-->
    </div> 
    <!-- About Description -->
  </div>
  <div class="parallax-bg">            
    <div class="container content parallax-about">
      <div class="title-box-v2">
        <h2>About our company</h2>
        <p>We have a big mission in front of us which means we hold ourselves to high standards.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-bullhorn"></i>
            <div class="overflow-h">
              <h3>Our mission</h3>
              <p>Our mission is to enable commerce in a seamless way that delights both the merchant and the consumer.</p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-picture-o"></i>
            <div class="overflow-h">
              <h3>Our vision</h3>
              <p>Our vision is to bring merchants a payment solution that is so simple it seems magical, inspire employees to effectively impact our merchants bottom lines, and be responsible global citizens.</p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-heart-o"></i>
            <div class="overflow-h">
              <h3>Our values</h3>
              <p>Our values are what define success for us. They are accountability, integrity, passion, collaboration, and intellectual curiosity.</p>
            </div>
          </div>
          <div class="margin-bottom-20"></div>
        </div>
        <div class="col-md-6">
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-users"></i>
            <div class="overflow-h">
              <h3>Our people</h3>
              <p>Building products that impact merchants' bottom lines is no joke which is why we recruit leaders in their respective industries.</p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-magic"></i>
            <div class="overflow-h">
              <h3>Our product</h3>
              <p>In order to make a meaningful difference to our merchants and consumers, we place a large emphasis on the everything from the user experience to the business case behind the product.</p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-sitemap"></i>
            <div class="overflow-h">
              <h3>Our process</h3>
              <p>We've built our products by a continuous feedback loop and collaboration with merchants, lenders, and consumers.</p>
            </div>
          </div>
          <div class="margin-bottom-20"></div>
        </div>
      </div>    
    </div><!--/container--> 
  </div>
{% endblock content %}
{% endblock main %}