{% extends 'base.html' %}

{%- block styles %}
  <link rel="stylesheet" href="/css/pages/about.css">
  {% parent %}
{%- endblock scripts %}

{%- block masttitle -%}About tabb.io{%- endblock masttitle %}

{% block main %}
{% block content %}
  <div class="container content">
    <!-- About Description -->
    <div class="title-box-v2">
      <h2>What is <span class="color-green">tabb.io</span></h2>
      <p>Tabb.io a next-generation open platform for retail credit. Our cloud-based system enables small and midsize merchants to easily offer private label credit to their customers. Our open platform lets developers access the credit functionality they need to create innovative products, while enabling small and midsize banks to put their capital to work in the private label credit niche.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <h4>Why work with tabb.io?</h4>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i> Our team combines experience from the finance, retail, and marketing industries, so we understand the needs of both merchants and lenders.</li>
              <li><i class="fa fa-check color-green"></i> We have a passion for enabling smaller merchants to better compete with “big box” retailers. </li>
              <li><i class="fa fa-check color-green"></i> We give merchants control of their end-to-end customer experience through co-brand and white label lending products.</li>
            </ul>                    
            <p> Merchants can increase their sales and strengthen customer loyalty by offering deferred payments, monthly installment plans, and revolving lines of credit under their brand. Tabb.io makes this possible all with one simple integration.</p>
          </div>
        </div>
      </div><!--/col-md-8-->        
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div id="testimonials-6" class="carousel slide testimonials testimonials-v1">
              <div class="carousel-inner">
                <div class="item active">
                  <p>My company operates several online properties for menswear and fashion accessories. We are very concerned with brand loyalty and controlling the user experience. That's why we are interested in tabb.io. Tabb.io makes it easy to customize our credit offering and maintain focus on our brand.</p>
                  <div class="testimonial-info">
                    <span class="testimonial-author">
                       COO & President
                      <em>Online Menswear Retailer</em>
                    </span>
                  </div>
                </div>
                <div class="item">
                  <p>We have experimented with several financing options in our retail store, but none were as flexible as tabb.io. Other vendors had inflexible products, low approval rates, or totally refused to work with us online. It is awesome that tabb.io can enable purchase plans for our customers online or in-store. And my technical team loves their API and developer tools, which make it easy to plug into our custom-built e-commerce software.</p>
                  <div class="testimonial-info">
                    <span class="testimonial-author">
                      CEO 
                      <em>Multi-Channel Home Improvement Retailer</em>
                    </span>
                  </div>
                </div>
              </div>

              <div class="carousel-arrow">
                <a class="left carousel-control" href="#testimonials-6" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#testimonials-6" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>                        
          </div>
        </div>
      </div><!--/col-md-4-->
    </div> 
    <!-- About Description -->
  </div>
  <div class="parallax-bg">            
    <div class="container content parallax-about">
      <div class="title-box-v2">
        <h2>About our company</h2>
        <p>Tabb.io is driven by a mission to improve financial services and commerce, so we hold ourselves to high standards.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-bullhorn"></i>
            <div class="overflow-h">
              <h3>Our mission</h3>
              <p>Our mission is to enable seamless commerce experiences for both merchants and consumers.</p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-heart-o"></i>
            <div class="overflow-h">
              <h3>Our values</h3>
              <p>Our values are what define success for us: accountability, integrity, passion, collaboration, and intellectual curiosity.</p>
            </div>
          </div>
          <div class="margin-bottom-20"></div>
        </div>
        <div class="col-md-6">
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-users"></i>
            <div class="overflow-h">
              <h3>Our people</h3>
              <p>Building products to change lending is no small feat. Tabb.io is a team of comprised of experts and leaders across industries.</p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x fa fa-sitemap"></i>
            <div class="overflow-h">
              <h3>Our process</h3>
              <p>We're building our platform in collaboration with merchants, lenders, and consumers to deliver exactly what each needs.</p>
            </div>
          </div>
          <div class="margin-bottom-20"></div>
        </div>
      </div>    
    </div><!--/container--> 
  </div>
  <div class="container content">
    <div class="title-box-v2">
      <h2 class="margin-bottom-30">We Are <span class="color-green">Changing</span> Retail Credit</h2>
      <p>If you find what we're working on interesting, we'd love to <a href={{urls.static.contact}}>hear from you</a> and discuss what we're doing in more detail.</p>
    </div>
  </div>
{% endblock content %}
{% endblock main %}