{% extends 'base.html' %}

{%- block masttitle -%}About{%- endblock masttitle %}

{% block content %}
<div class="row margin-bottom-40">
  <div class="col-md-6 md-margin-bottom-40">
    <p>Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</p>
    <ul class="list-unstyled">
      <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
      <li><i class="fa fa-check color-green"></i> Elit non mi porta gravida</li>
      <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
      <li><i class="fa fa-check color-green"></i> Elit non mi porta gravida</li>
      <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
    </ul>   
  </div>
  <div class="col-md-6 md-margin-bottom-40">
    <blockquote class="hero-unify">
      <p>Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</p>
      <small>CEO, Ben Brown</small>
    </blockquote>
  </div>
</div><!--/row-->
<!-- Meet Our Team -->
<div class="headline"><h2>Meet Our Team</h2></div>
<div class="row team">
  <div class="col-sm-4">
    <div class="thumbnail-style">
      <img class="img-responsive img-width-250 center-image" src="images/people/ben.png" alt="" />
      <h3 class="margin-top-10"><a>Ben Brown</a> <small>Chief Executive Officer</small></h3>
      <p>Ben spent 6 years as a payments strategy consultant for First Annapolis Consulting where he worked with clients worldwide on strategy, operations, product, and mergers and acquisitions. Ben has Dual B.S. degrees from the University of Maryland, College Park.</p>
      <ul class="list-unstyled list-inline team-socail">
        <li><a href="mailto:ben@tabb.io"><i class="fa fa-envelope"></i></a></li>
        <li><a href="http://www.twitter.com/bebrown2" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/benjaminebrown" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail-style">
      <img class="img-responsive img-width-250 center-image" src="images/people/frank.png" alt="" />
      <h3 class="margin-top-10"><a>Frank Fumarola</a> <small>Chief Operating Officer</small></h3>
      <p>Frank came from the ad tech and ecommerce worlds where he was a VP of Product for 50onRed. He managed a team of product managers, designers, user experience engineers, and front-end developers. Frank has Dual B.S. degrees from the University of Maryland, College Park.</p>
      <ul class="list-unstyled list-inline team-socail">
        <li><a href="mailto:frank@tabb.io"><i class="fa fa-envelope"></i></a></li>
        <li><a href="http://www.twitter.com/ffumarola" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/francisfumarola/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail-style">
      <img class="img-responsive img-width-250 center-image" src="images/people/jeff.png" alt="" />
      <h3 class="margin-top-10"><a>Jeff Csicsek</a> <small>Chief Architect</small></h3>
      <p>Jeff came from Big Human where he was a Sr. Software Engineer. He developed many of their clients prototypes and MVPs. He previously worked for an energy sustainability web company and an IT consultancy. Jeff has a B.S. from Virginia Tech.</p>
      <ul class="list-unstyled list-inline team-socail">
        <li><a href="mailto:jeff@tabb.io"><i class="fa fa-envelope"></i></a></li>
        <li><a href="http://www.twitter.com/jcsicsek" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div><!--/team-->
<!-- End Meer Our Team -->
{% endblock %}