{% extends "base.html" %}

{% block content %}
<div class="clear"></div>
<div class="container-wrapper container-top container-wrapper-blue">
  <div class="container container-top">
    <div class="row">
      <div class="col-md-12 center">
        <h1>Credit Lab</h1>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<div class="container">
  <h2>Introducing the best new store credit program... yours!</h2>
  <h3>Build exactly what you want to offer your customers</h3>
  <div class="row row-tiles">
    <div class="col-md-3">
      <div class="tile">
        <span class="fa fa-credit-card"></span><div class="tile-details">
          <h3>Set Credit Limits</h3>
          <p>How much credit do you want to offer your customers?</p>
        </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
    <div class="col-md-3">
      <div class="tile">
        <span class="fa fa-wrench"></span><div class="tile-details">
          <h3>Select Options</h3>
          <p>What payment terms do you want to offer? Discounts?</p>
        </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
    <div class="col-md-3">
      <div class="tile">
        <span class="fa fa-edit"></span><div class="tile-details">
          <h3>Pick a Design</h3>
          <p>Do you want us to brand your payment portal for you for?</p>
        </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
    <div class="col-md-3">
      <div class="tile">
        <span class="fa fa-legal"></span><div class="tile-details">
          <h3>Review & Activate</h3>
          <p>Review the options you selected and activate the program!</p>
        </div><!-- end tile details -->
      </div><!-- end tile -->
      <p class="pull-right"><a href="#none" class="btn btn-lg btn-block btn-success margin-top-10"><span class="fa fa-flask"></span> Start Building</a></p>
    </div><!-- end col -->
  </div>
</div>
<div class="clear"></div>
{% endblock %}