{% extends "base.html" %}

{% block mast_attribs %}blue{% endblock mast_attribs %}

{% block masttitle %}
    <h1>Credit Lab</h1>
{% endblock masttitle %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 sidebar">
      <div class="widget">
        <h4>Card Lab</h4>
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Overview</a></li>
            <li><a href="#"><i class="fa fa-credit-card fa-fw"></i> Set credit limits</a></li>
            <li class="active"><a href="#"><i class="fa fa-wrench fa-fw"></i> Select options</a></li>
            <li><a href="#"><i class="fa fa-edit fa-fw"></i> Pick a design</a></li>
            <li><a href="#"><i class="fa fa-legal fa-fw"></i> Review & Activate</a></li>
          </ul>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Customize Features</h2>
      <p>On this page, select the features and terms that matter most to you. As you make selections you will see how other options are effected.</p>
      <div class="col-md-4">
        <div class="well">
          <h3>Basic Rewards</h3>
          <div class="row" style="margin-bottom:20px;">
            <p>Cash Back on Purchases</p>
            <p><span class="label label-large label-default">.50%</span>
            <span class="label label-large label-primary">.75%</span>
            <span class="label label-large label-default">1.00%</span>
            <span class="label label-large label-default">1.25%</span></p>
          </div>
          <div class="row">
            <p>Points per $ Charged</p>
            <p><span class="label label-large label-default">.50%</span>
            <span class="label label-large label-default">.75%</span>
            <span class="label label-large label-default">1.00%</span>
            <span class="label label-large label-default">1.25%</span></p>
          </div>
        </div>
        <div class="well">
          <h3>Marketing Programs</h3>
            <p><span class="btn btn-grey btn-sm btn-block">None</span>
            <span class="btn btn-primary btn-sm btn-block">Periodic Offers</span>
            <span class="btn btn-grey btn-sm btn-block">Birthday Message</span>
            <span class="btn btn-primary btn-sm btn-block">2x Extra Earnings on Certain Items</span>
            <span class="btn btn-grey btn-sm btn-block">Extra Earnings for Time Period</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h3>Introductory Offers</h3>
            <p>APR on New Purchases</p>
              <p><span class="btn btn-grey btn-sm btn-block">None</span>
              <span class="btn btn-primary btn-sm btn-block">3 Months at 0%</span>
              <span class="btn btn-grey btn-sm btn-block">6 Months at 0%</span>
              <span class="btn btn-grey btn-sm btn-block">9 Months at 0%</span>
              <span class="btn btn-grey btn-sm btn-block">12 Months at 0%</span></p>
        </div>
        <div class="well">
          <h3>Annual Fee</h3>
              <p><span class="label label-large label-default">$0</span>
              <span class="label label-large label-primary">$39</span>
              <span class="label label-large label-default">$79</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h3>Annual Percentage Rate</h3>
            <p>Fixed</p>
              <p><span class="label label-large label-default">9.9%</span>
              <span class="label label-large label-default">11.9%</span>
              <span class="label label-large label-default">13.9%</span></p>
            <p>Variable</p>
              <p><span class="label label-large label-default">7.9%</span>
              <span class="label label-large label-default">8.9%</span>
              <span class="label label-large label-default">9.9%</span>
              <span class="label label-large label-default">10.9%</span>
              <span class="label label-large label-default">11.9%</span>
              <span class="label label-large label-primary">12.9%</span>
              <span class="label label-large label-default">13.9%</span>
              <span class="label label-large label-default">14.9%</span>
              <span class="label label-large label-default">15.9%</span>
              <span class="label label-large label-default">16.9%</span></p>
        </div>
        <p class="pull-right">
          <a href="#none" class="btn btn-lg btn-block btn-danger margin-top-10"><span class="fa fa-undo"></span> Reset</a>
          <a href="#none" class="btn btn-lg btn-block btn-success margin-top-10"><span class="fa fa-arrow-right"></span> Pick design</a>
        </p>
      </div>
    </div><!-- end blog-wrapper -->
  </div><!-- end row -->
</div>
{% endblock %}