{% extends "base.html" %}

{% block mast_attribs %}blue{% endblock mast_attribs %}

{% block masttitle %}
<h1>Frequently Asked Questions</h1>
{% endblock masttitle %}

{% block content %}
<div class="container">
  <div class="row">
  	<div id="accordion" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="panel-toggle">
            Q. What is tabb.io?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse in" id="collapseOne" style="height: auto;">
          <div class="panel-body">
            A: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Where are you based?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Donec sed odio dui?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Nulla vitae elit libero?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse" id="collapseFour" style="height: 0px;">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. A pharetra augue nullam id dolor id nibh ultricies vehicula?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse " id="collapseFive">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Integer posuere erat a ante venenatis dapibus posuere velit aliquet?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse " id="collapseSix">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Donec cliquet posuere erat a ante venenatis?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse " id="collapseSeven">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Libero a pharetra augue nullam id dolor?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse " id="collapseEight">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Odio dui nulla posuere dapibus posuere velit aliquet?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse " id="collapseNine">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#collapseTen" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
            Q. Posuere velit aliquet integer posuere?
          </a>
        </div><!-- end panel-heading -->
        <div class="panel-collapse collapse " id="collapseTen">
          <div class="panel-body">
            A. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div><!-- end panel-body -->
        </div><!-- end panel-collapse -->
      </div><!-- end panel -->
    </div>
  </div>
</div>
{% endblock %}