{% extends "base.html" %}

{% block masttitle %}Frequently Asked Questions{% endblock masttitle %}

{% block content %}
<div class="row">            
  <div class="col-md-9">
    <div class="tab-v1">
      <ul class="nav nav-tabs margin-bottom-20">
        <li class="active"><a data-toggle="tab" href="#general">General</a></li>
        <li class=""><a data-toggle="tab" href="#merchant">Merchant</a></li>
        <li class=""><a data-toggle="tab" href="#consumer">Consumer</a></li>
        <li class=""><a data-toggle="tab" href="#lender">Lender</a></li>
      </ul>        
      <div class="tab-content">
        <!-- Tab Content 1 -->
        <div id="general" class="tab-pane fade active in">
          <div id="accordion-v1" class="panel-group acc-v1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v1" href="#general-1">
                    1. Put a bird on it squid single-origin coffee nulla?
                  </a>
                </h4>
              </div>
              <div id="general-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v1" href="#general-2">
                    2. Oliva pariatur cliche reprehenderit high life accusamus?
                  </a>
                </h4>
              </div>
              <div id="general-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                    <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v1" href="#general-3">
                    3. Enim eiusmod high life accusamus terry richardson?
                  </a>
                </h4>
              </div>
              <div id="general-3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird.</p>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                  </ul>                            
                </div>
              </div>
            </div>
          </div>    
        </div>
        <!-- End Tab Content 1 -->
        <!-- Tab Content 2 -->
        <div id="merchant" class="tab-pane fade">
          <div id="accordion-v2" class="panel-group acc-v1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v2" href="#merchant-1">
                    Collapsible Group Item #1
                  </a>
                </h4>
              </div>
              <div id="merchant-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v2" href="#merchant-2">
                    Collapsible Group Item #2
                  </a>
                </h4>
              </div>
              <div id="merchant-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                  </ul>
                </div>
              </div>
            </div>    
          </div>
        </div>
        <!-- Tab Content 2 -->
        <!-- Tab Content 3 -->
        <div id="consumer" class="tab-pane fade">
          <div id="accordion-v3" class="panel-group acc-v1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v3" href="#consumer-1">
                    Collapsible Group Item #1
                  </a>
                </h4>
              </div>
              <div id="consumer-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v3" href="#consumer-2">
                    Collapsible Group Item #2
                  </a>
                </h4>
              </div>
              <div id="consumer-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                  </ul>
                </div>
              </div>
            </div>    
          </div>
        </div>
        <!-- Tab Content 3 -->
        <!-- Tab Content 4 -->
        <div id="lender" class="tab-pane fade">
          <div id="accordion-v4" class="panel-group acc-v1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v4" href="#lender-1">
                    Collapsible Group Item #1
                  </a>
                </h4>
              </div>
              <div id="lender-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-v4" href="#lender-2">
                    Collapsible Group Item #2
                  </a>
                </h4>
              </div>
              <div id="lender-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                  </ul>
                </div>
              </div>
            </div>    
          </div>
          <!-- Tab Content 4 -->                        
        </div>
      </div>
    </div>
  </div><!--/col-md-9-->
  <div class="col-md-3">
    {% include "../partials/contact.html" %}
  </div>
</div><!--/container-->   
{% endblock %}