{% extends 'base.html' %}

{% block masthead %}
{% endblock masthead %}

{% block content %}
<div id="myCarousel" class="container-wrapper container-top container-wrapper-home carousel slide" data-ride="carousel">
  <!-- Indicators -->
  {% if user.is.merchant %}
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  {% endif %}
  <div class="carousel-inner">
    {% if user.is.merchant %}
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-6 text-left">
              <h1>Tabb.io does the job</h1>
              <p class="lead">Tabb.io is the simplest way to reach new users, increase sales, and lower friction.</p>
              <p><a class="btn btn-lg btn-success" href="#">Try Now</a> <a class="btn btn-lg" href="#">View Features</a></p>
            </div><!-- end col -->
            <div class="col-md-6">
              <img src="images/womanlaying.png" style="margin-top:-100px;" alt="">
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!-- end carousel-caption -->
      </div><!-- end container -->
    </div><!-- end item -->
    {% endif %}
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>White Label Credit API</h1>
          <p>Tabb.io allows developers and merchants to easily enable consumer finance options in a wide range of use cases.</p>
          <p class="margin-bottom-100"><a class="btn btn-lg btn-purple" href={{urls.static.contact}} role="button">Learn More</a></p>
          <ul class="unstyled center list-circle-icons">
            <li class=""><span class="fa fa-comments"></span></li>
            <li class="red"><span class="fa fa-columns"></span></li>
            <li class="green"><span class="fa fa-user"></span></li>
            <li class="yellow"><span class="fa fa-envelope-o"></span></li>
          </ul>
          
        </div><!-- end carousel-caption -->
      </div><!-- end container -->
    </div><!-- end item -->
    {% if user.is.merchant %}
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-4 col-md-offset-1 text-left">
              <h1>Mobile Optimized</h1>
              <p>Consumers are increasingly shopping on mobile, capture their sales. </p>
              <p><a class="btn btn-lg btn-primary" href={{urls.static.contact}} role="button">Learn More</a></p>
            </div><!-- end col -->
            <div class="col-md-7">
              <img src="images/mobile.png" alt="">
            </div><!-- end col -->
          </div> <!-- end row -->
        </div><!-- end carousel-caption -->
      </div><!-- end container -->
    </div><!-- end item -->
    {% endif %}
  </div><!-- end carousel-inner -->
  {% if user.is.admin %}
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="fa fa-chevron-right"></span></a>
  {% endif %}
</div>
<div class="clear"></div>
<div class="container-wrapper">
  <div class="container">
    <div class="row x-bottom-20">
      <div class="col-md-12 center">
        <h2>Features</h2>
      </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
      <div class="col-md-4 center">
        <span class="fa fa-building-o fa-5x blue"></span>
        <h3 class="margin-top-10">Simple implementation</h3>
        <p>Using our simple API and widgets, implementation is as easy as 1-2-3!</p>
        <p><a href={{urls.static.contact}} class="btn btn-lg btn-warning">Learn More</a></p>
      </div><!-- end col -->
      <div class="col-md-4 center">
        <span class="fa fa-lock fa-5x"></span>
        <h3 class="margin-top-10">Risk free</h3>
        <p>Tabb.io assumes the risk of all loans so merchants always get paid.</p>
        <p><a href={{urls.static.contact}} class="btn btn-lg btn-primary">Get Started</a></p>
      </div><!-- end col -->
      <div class="col-md-4 center">
        <span class="fa fa-bar-chart-o fa-5x red"></span>
        <h3 class="margin-top-10">Increase sales</h3>
        <p>Private label credit is proven to increase conversion, basket size, and shopping frequency.</p>
        <p><a href={{urls.static.contact}} class="btn btn-lg btn-success">Contact Us</a></p>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<div class="clear"></div>
{% if user.is.admin %}
<div class="container-wrapper container-wrapper-bridge">
  <div class="container">
    <div class="row">
      <div class="col-md-5 center">
        <h2>For Merchants</h2>
        <p>Tabb.io is suitable for many types of businesses. Find out more reasons why below:</p>
        <div class="space-20"></div>
        <ul class="features-icon-list">
          <li>
            <span class="fa fa-bar-chart-o"></span>
            <h3>Increase Sales</h3>
            <p>Private label credit is proven to increase conversion, basket size, and shopping frequency.</p>
          </li>
          <li>
            <span class="fa fa-building-o"></span>
            <h3>Simple Implementation</h3>
            <p>Using our simple API and embeddable widgets, implementation is as easy as 1-2-3!</p>
          </li>
          <li>
            <span class="fa fa-lock"></span>
            <h3>Risk Free Payments</h3>
            <p>Tabb.io assumes the risk of all transactions so you get paid no matter what.</p>
          </li>
          <li>
            <span class="fa fa-check-square-o"></span>
            <h3>Trustworthy Payments</h3>
            <p>Tabb.io allows you to whitelabel credit, turning your customers into loyal repeat buyers.</p>
          </li>
        </ul>
      </div><!-- end col -->
      <div class="col-md-5 col-md-offset-2 center">
        <h2>For Consumers</h2>
        <p>Why are your consumers choosing tabb.io more and more? Because the choice is simple.</p>
        <div class="space-20"></div>
        <ul class="features-icon-list">
          <li>
            <span class="fa fa-credit-card"></span>
            <h3>Buy First, Pay Later</h3>
            <p>To pay with Cash or with Credit Card? This can be decided later. Buying can happen now.</p>
          </li>
          <li>
            <span class="fa fa-user"></span>
            <h3>No Account Needed</h3>
            <p>Tired of signing up for accounts? Perfect. We don't require you to, just check out like normal.</p>
          </li>
          <li>
            <span class="fa fa-shield"></span>
            <h3>No Risk Purchases</h3>
            <p>Large purchase? Ensure you like your products before paying. Deferred payments help build trust!</p>
          </li>
          <li>
            <span class="fa fa-smile-o"></span>
            <h3>Great Experience</h3>
            <p>With quick checkouts on the web and in-store and great service, shopping has never been easier.</p>
          </li>
        </ul>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<div class="container-wrapper container-wrapper-sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="header">View Your Bill</h4>
        <p>See statement, schedule payments, and other activities.</p>
        <form class="form-horizontal form-contact" action="/contact-submit" method="post">
        <div class="form-group">
          <div class="controls">
            <div class="row">
              <div class="col-md-7">
                <input type="text" id="invoiceNumber" placeholder="Invoice Number" class="form-control">
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end controls -->
        </div><!-- end form-group -->
        <div class="form-group">
          <div class="controls">
            <div class="row">
              <div class="col-md-4">
                <input type="text" id="ssnLastFour" placeholder="Last 4 of SSN" class="form-control">
              </div><!-- end col -->
              <div class="col-md-3 form-actions form-actions-no-bg">
                <button type="submit" value="send" class="btn btn-success disabled">View Invoice</button>
              </div>
            </div><!-- end row -->
          </div><!-- end controls -->
        </div><!-- end form-group -->
      </div>
      <div class="col-md-6">
        <h4 class="header">Create a tabb.io Account</h4>
        <p>If you are a merchant or consumer who would like to view your complete transaction history, set up security criteria, pre-apply for transaction financing, and more, register for an account.</p>
        <div class="form-actions form-actions-no-bg pull-right">
          <button type="submit" value="send" class="btn btn-purple disabled">Register</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
