{% extends 'base.html' %}

{%- block styles %}
  <link rel="stylesheet" href="/css/pages/index.css">
  <link rel="stylesheet" href="/vendor/horizontal-parallax/css/horizontal-parallax.css">
  {% parent %}
{%- endblock scripts %}

{% block masthead %}
{% endblock masthead %}

{% block main %}
{% block content %}
<div id="sequence-theme" class="sequence-inner custom-bg">
  <div id="sequence">
    <img class="prev" src="vendor/horizontal-parallax/images/bt-prev1.png" alt="Previous" />
    <img class="next" src="vendor/horizontal-parallax/images/bt-next1.png" alt="Next" />
    <ul>
      <li class="animate-in">
        <div class="info">
          <h2>Custom Loan Products</h2>
          <p>The only limit you will face is your creativity.</p>
        </div>
        <img class="balloon" src="vendor/horizontal-parallax/images/balloon.png" alt="Balloon" />
      </li>
      <li>
        <div class="info">
          <h2>Increase Sales</h2>
          <p>Offer your customers a customized and branded "pay later" option to increase sales.</p>
        </div>
        <img class="kite" src="vendor/horizontal-parallax/images/kite.png" alt="Kite" />
      </li>
      <li>
        <div class="info">
          <h2>Fast Checkout</h2>
          <p>Your shoppers will be able to checkout quickly without having to worry about paying until later.</p>
        </div>
        <img class="aeroplane" src="vendor/horizontal-parallax/images/aeroplane.png" alt="Aeroplane" />
      </li>
    </ul>
  </div>
</div>
<div class="container content">
  <div class="row margin-bottom-40">
    <div class="col-md-3">
      <div class="promo-box">
        <i class="fa fa-clock-o color-yellow"></i>
        <strong>Pay Later</strong>
        <p>Give your customers more time to pay with no payments and no interest for up to 90 days.</p>
      </div>        
    </div>
    <div class="col-md-3">
      <div class="promo-box">
        <i class="fa fa-calendar color-red"></i>
        <strong>Installments</strong>
        <p>Let your customers take control by splitting their purchase into equal monthly payments.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="promo-box">        
        <i class="fa fa-credit-card color-sea"></i>
        <strong>Store Credit</strong>
        <p>Put your own private label credit account in the hands of your most loyal customers.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="promo-box">        
        <i class="fa fa-lightbulb-o color-blue"></i>
        <strong>Your Imagination!</strong>
        <p>Our platform is incredibly flexible -- get creative and make your own custom programs!</p>
      </div>
    </div>
  </div>
</div>
<div class="container-wrapper container-wrapper-bridge">
  <div class="container">
    <div class="row margin-bottom-40">
      <div class="col-md-5 col-sm-12 centered">
        <h2>For Merchants</h2>
        <p>Tabb.io is suitable for many types of businesses.</p>
        <div class="space-20"></div>
        <ul class="features-icon-list">
          <li>
            <span class="fa fa-bar-chart-o"></span>
            <h3> Increase Sales</h3>
            <p>Private label credit increases conversion, basket size, and shopping frequency.</p>
          </li>
          <li>
            <span class="fa fa-building-o"></span>
            <h3> Simple Implementation</h3>
            <p>Using our cloud-based platform and simple API, it is easy to design and implement private label credit.</p>
          </li>
          <li>
            <span class="fa fa-lock"></span>
            <h3> Risk Free Payments</h3>
            <p>Merchants receive funds right away regardless of when customers pay.</p>
          </li>
          <li>
            <span class="fa fa-check-square-o"></span>
            <h3> Build Customer Loyalty</h3>
            <p>Build loyalty with a new channel for post-purchase contact and targeted marketing tools.</p>
          </li>
        </ul>
      </div><!-- end col -->
      <div class="col-md-5 col-md-offset-2 col-sm-12 centered">
        <h2>For Consumers</h2>
        <p>Tabb.io is the simple way to pay.</p>
        <div class="space-20"></div>
        <ul class="features-icon-list">
          <li>
            <span class="fa fa-credit-card"></span>
            <h3> Buy First, Pay Later</h3>
            <p>Store credit gives you more time to pay for today’s important purchases.</p>
          </li>
          <li>
            <span class="fa fa-user"></span>
            <h3> No Account Needed</h3>
            <p>Tired of signing up for accounts? Perfect. We don't require you to sign up; just check out with your basic info.</p>
          </li>
          <li>
            <span class="fa fa-gavel"></span>
            <h3> Control</h3>
            <p>Take control of your monthly budget with purchase-specific payment plans.</p>
          </li>
          <li>
            <span class="fa fa-gift"></span>
            <h3> Special Offers</h3>
            <p>Save money and discover great new products with discounts and relevant offers.</p>
          </li>
        </ul>
      </div><!-- end col -->
    </div>
  </div>
</div>
<div class="container content">
  <div class="row margin-bottom-40">
    <div class="col-md-6 md-margin-bottom-40">
      <div class="headline"><h2>View Your Statement</h2></div>
      <div class="row">
        <p>See statement, schedule payments, and other activities.</p>
        <form method="POST" id="view-statement" class="sky-form" action={{urls.invoices.portal}}>
          <fieldset>
            <div class="row">
              <section class="col-md-10">
                <label class="input">
                  <i class="icon-append fa fa-phone"></i>
                  <input type="text" id="phone" name="phone" placeholder="Phone Number">
                </label>
              </section>
            </div>
            <div class="row">
              <section class="col-md-6">
                <label class="input">
                  <i class="icon-append fa fa-barcode"></i>
                  <input type="text" id="invoice" name="invoiceId" placeholder="Purchase Code">
                </label>
              </section>
              <div class="col-md-3 form-actions form-actions-no-bg">
                <button type="submit" value="send" class="btn disabled btn-success">View Statement</button>
              </div>
            </div>
          </fieldset>
          <div class="message">
            <i class="rounded-x fa fa-check"></i>
            <p>Your API Request was successfully sent!</p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 md-margin-bottom-40">
      <div class="headline"><h2>Create tabb.io Merchant Acount</h2></div>
      <div class="row">
        <p>If you are a merchant who would like to offer purchase financing with custom built promotions just for your customers, register for an account.</p>
        <div class="form-actions form-actions-no-bg pull-right">
          <a href={{urls.users.partnerregister}}>
            <button type="submit" value="send" class="btn disabled btn-u btn-u-purple">Sign Up</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% endblock main %}

{%- block scripts %}
  {% parent %}
  <script type="text/javascript" src="/vendor/horizontal-parallax/js/sequence.jquery-min.js"></script>
  <script type="text/javascript" src="/vendor/horizontal-parallax/js/horizontal-parallax.js"></script>
  <script src="/js/view-statement.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
        ViewStatement.initViewStatement();
    });
  </script>
{%- endblock scripts %}
