{% extends "base.html" %}

{% block mast_attribs %}mint{% endblock mast_attribs %}

{% block masttitle %}Products{% endblock masttitle %}

{% block content %}
<div class="container">  
  <div class="row row-feature">
    <div class="col-md-6 span-image center">
      <div class="space-5"></div>
      <ul class="unstyled center list-circle-icons">
        <li class=""><span class="fa fa-pencil"></span></li>
        <li class="red"><span class="fa fa-heart"></span></li>
        <li class="green"><span class="fa fa-picture-o"></span></li>
        <li class="purple"><span class="fa fa-desktop"></span></li>
        <li class="yellow"><span class="fa fa-wrench"></span></li>
      </ul>
    </div><!-- end col -->
    <div class="col-md-6 span-text">
      <h2>Lorem Ipsum</h2>
      <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
    </div><!-- end col -->
  </div><!-- end row -->
  <div class="row row-feature">
    <div class="col-md-5 span-text">
      <h2 class="margin-top-20">Lorem Ipsum</h2>
      <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
      <p><a class="btn btn-lg btn-success" href="#">Learn More</a> <a class="btn btn-lg" href="#">Sign Up</a></p>
    </div><!-- end col -->
    <div class="col-md-6 col-md-offset-1 span-image center">
      <img src="#" alt="">
    </div><!-- end col -->
  </div><!-- end row -->
  <div class="row row-feature">
    <div class="col-md-6 span-image center">
      <img src="#" alt="">
    </div><!-- end col -->
    <div class="col-md-5 col-md-offset-1 span-text">
      <h2 class="margin-top-10">Lorem Ipsum</h2>
      <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
      <p>Tale primis facilisis ose. Dignissim conceptam eam ad. In stet adipiscing voluptatibus ne partem quidam.</p>
      <p><a class="btn btn-lg btn-success" href="#">Learn More</a> <a class="btn btn-lg" href="#">Sign Up</a></p>
    </div><!-- end col -->
  </div><!-- end row -->
  <div class="row row-feature">
    <div class="col-md-12">
      <ul class="feature-horizontal-list feature-horizontal-list-3 margin-bottom-0">
        <li class="first">
          <span class="fa fa-edit"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus.</p>
        </li><li>
          <span class="fa fa-cog"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus.</p>
        </li><li>
          <span class="fa fa-list-ol"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus.</p>
        </li>
      </ul>
    </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-md-5 center">
      <h2>Lorem Ipsum</h2>
      <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
      <div class="space-20"></div>
      <ul class="features-icon-list">
        <li>
          <span class="fa fa-comment"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no..</p>
        </li>
        <li>
          <span class="fa fa-columns"></span>
          <h3>Lorem Ipsum</h3>
          <p>BUsu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
        <li>
          <span class="fa fa-user"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
        <li>
          <span class="fa fa-envelope"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
      </ul>
    </div><!-- end col -->
    <div class="col-md-5 col-md-offset-2 center">
      <h2>Revolving Credit</h2>
      <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
      <div class="space-20"></div>
      <ul class="features-icon-list">
        <li>
          <span class="fa fa-magic"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
        <li>
          <span class="fa fa-font"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
        <li>
          <span class="fa fa-bolt"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
        <li>
          <span class="fa fa-picture-o"></span>
          <h3>Lorem Ipsum</h3>
          <p>Usu ut dicit melius accumsan, quo at dolore temporibus. Ut epicuri omittantur has. Duo id rebum invidunt laboramus. Errem quaestio vis no.</p>
        </li>
      </ul>
    </div><!-- end col -->
  </div><!-- end row -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well center">
        <h3>Lorem Ipsum</h3>
        <p><a href="#" class="btn btn-lg btn-success">Sign Up</a></p>
      </div><!-- end well -->
    </div><!-- end col -->
  </div><!-- end row -->
</div>
{% endblock %}