{% extends "base.html" %}

{% block masttitle %}Products{% endblock masttitle %}

{% block content %}
  <div class="row margin-bottom-10">
    <div class="col-sm-6">
      <a class="no-decor" href="#deferred">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-yellow">
          <i class="icon-custom icon-color-yellow rounded-x fa fa-clock-o"></i>
          <h2 class="heading-md">Deferred Payments</h2>
          <p>Offer your customers the ability to buy now and pay later. Deferred payment offers help close the sale today.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="no-decor" href="#installment">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-red">
          <i class="icon-custom icon-color-red rounded-x fa fa-calendar"></i>
          <h2 class="heading-md">Installment Loans</h2>
          <p>Want to let your customers space out their payments? Installment plans let customers take control of their budgeting.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row margin-bottom-10">
    <div class="col-sm-6">
      <a class="no-decor" href="#revolving">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-sea">
          <i class="icon-custom icon-color-sea rounded-x fa fa-credit-card"></i>
          <h2 class="heading-md">Revolving Credit</h2>
          <p>Give frequent shoppers a revolving line of credit with a monthly billing cycle along with special offers and rewards to bring them back again.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="no-decor" href="#imagine">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-blue">
          <i class="icon-custom icon-color-blue rounded-x fa fa-lightbulb-o"></i>
          <h2 class="heading-md">Your Imagination!</h2>
          <p>Our platform is incredibly flexible - use your imagination to make a magical credit experience that combines these concepts!</p>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="deferred" class="top">&nbsp;</a>
    <div class="col-md-4 md-margin-bottom-20">
      <h2 class="heading-md"><span class="color-yellow">Deferred</span> Payments</h2>
      <p>Tabb.io enables merchants to offer short-term credit to consumers so they can buy now and pay later.  In-store or online, merchants can use deferred payment offers to convince consumers to buy today. Online, deferred payment can also address the concerns of cautious shoppers who want to receive their goods before they pay.</p>
      <a class="btn-u btn-u-yellow" href={{urls.users.partnerregister}}>Become a Partner</a>
    </div>
    <div class="col-md-8 yellow">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Up to 180 Days Delayed</h4>
            <p>Give your customers between 15 and 180 days to pay for their purchases.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Due in Full After Term</h4>
            <p>The total purchase price will be due in full after the grace period that you set.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>No Extra Cost</h4>
            <p>Consumers can be given the option to defer payment at no extra cost.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Combinable Solution</h4>
            <p>You can offer deferred payments alongside other credit products.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="installment" class="top">&nbsp;</a>
    <div class="col-md-8 red">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Custom Billing Cycles</h4>
            <p>Offer your customers flexibility by giving them custom payment terms.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>High Acceptance</h4>
            <p>We offer a high acceptance rate by making transaction specific decisions.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Low Acceptance Cost</h4>
            <p>Tabb.io acceptance costs significantly less than credit and debit cards.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Statement Marketing</h4>
            <p>Keep marketing to your customers using their monthly statements.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 md-margin-bottom-20"> 
      <h2 class="heading-md"><span class="color-red">Installment</span> Loans</h2>   
      <p>Merchants can offer purchase-specific financing plans with tabb.io. Installment plans let consumers pay for their purchases in equal, fixed installments over 3 to 24 months. Installment plans are simpler to offer than revolving credit and may be appropriate in a wider variety of situations. </p>
      <a class="btn-u btn-u-red" href={{urls.users.partnerregister}}>Become a Partner</a>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="revolving" class="top">&nbsp;</a>
    <div class="col-md-4 md-margin-bottom-20">
      <h2 class="heading-md"><span class="color-green1">Revolving</span> Credit</h2>    
      <p>Merchants can use tabb.io to issue private label credit accounts. Recurring customers can put all their purchases on one store account. Private label credit expands consumers’ purchasing power and reduces merchants’ payments cost. Tabb.io supports accounts tied to a virtual account or plastic card. </p>
      <a class="btn-u btn-u-green" href={{urls.users.partnerregister}}>Become a Partner</a>
    </div>
    <div class="col-md-8 green">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Open Line of Credit</h4>
            <p>With a revolving account, your customers can get approved once for a fixed limit.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Consolidated Statement</h4>
            <p>Habit can takeover as customers get used to paying their statement once per month.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Merchant or Co-Branded</h4>
            <p>Utilize your brand loyalty or leverage tabb.io's trust for increased awareness.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Rewards Marketing</h4>
            <p>Reward frequent shoppers with special promotions and incentives.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="imagine" class="top">&nbsp;</a>
    <div class="col-md-8 blue">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Robust Developer Tools</h4>
            <p>With a modern RESTful API and client libraries, integration is a breeze.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Pre-built Widgets</h4>
            <p>We've integrated with top Tablet POS systems and E-commerce platforms.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>End-to-End Lending</h4>
            <p>We handle credit decisioning, identity validation, billing, collections, etc.</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-check-circle icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h4>Flexible Pricing</h4>
            <p>Pricing is flexible based on the nature of the credit product you use.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 md-margin-bottom-20"> 
      <h2 class="heading-md">Your <span class="color-blue">Imagination</span></h2>   
      <p>Tabb.io is an open credit platform. Developers can use our RESTful API to weave credit into their software or even create innovative lending products by accessing specific platform functionality through the Tabb.io API.  Products can be co-branded or white labeled.</p>
      <a class="btn-u btn-u-blue" href={{urls.users.partnerregister}}>Become a Partner</a>
    </div>
  </div>
  <div class="row tag-box tag-box-v5 margin-tb-80">
      <div class="col-md-8">
          <span>Ready to partner with us?</span>
      </div>
      <div class="col-md-4">
          <p><a class="btn-u btn-u-lg" href={{urls.users.partnerregister}}>Sign Up Now</a></p>
      </div>
  </div>
{% endblock %}