{% extends "base.html" %}

{% block masttitle %}Products{% endblock masttitle %}

{% block content %}
  <div class="row margin-bottom-10">
    <div class="col-sm-6">
      <a class="no-decor" href="#deferred">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-yellow">
          <i class="icon-custom icon-color-yellow rounded-x fa fa-clock-o"></i>
          <h2 class="heading-md">Deferred Payments</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="no-decor" href="#installment">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-red">
          <i class="icon-custom icon-color-red rounded-x fa fa-calendar"></i>
          <h2 class="heading-md">Installment Loans</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row margin-bottom-10">
    <div class="col-sm-6">
      <a class="no-decor" href="#revolving">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-green">
          <i class="icon-custom icon-color-green rounded-x fa fa-credit-card"></i>
          <h2 class="heading-md">Revolving Credit</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="no-decor" href="#imagine">
        <div class="servive-block servive-block-default funny-boxes funny-boxes-top-blue">
          <i class="icon-custom icon-color-blue rounded-x fa fa-lightbulb-o"></i>
          <h2 class="heading-md">Your Imagination!</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="deferred" class="top">&nbsp;</a>
    <div class="col-md-4 md-margin-bottom-20">
      <h2 class="heading-md"><span class="color-yellow">Deferred</span> Payments</h2>
      <p>Donec bibendum vitae lacus vitae eleifend. Curabitur vitae turpis eget mi vulputate volutpat. Curabitur molestie magna non tellus viverra ornare. Etiam enim sapien, tristique et faucibus et, scelerisque id risus.</p>
      <p>Sed quis tortor metus. Morbi fringilla in mi ac accumsan. Vestibulum in arcu turpis. Donec congue interdum eleifend.</p>
      <a class="btn-u btn-u-yellow" href="#">View more</a>
    </div>
    <div class="col-md-8 yellow">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-bell-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-hdd-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-lightbulb-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-thumbs-o-up icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="installment" class="top">&nbsp;</a>
    <div class="col-md-8 red">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-bell-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-hdd-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-lightbulb-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-thumbs-o-up icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 md-margin-bottom-20"> 
      <h2 class="heading-md"><span class="color-red">Installment</span> Loans</h2>   
      <p>Donec bibendum vitae lacus vitae eleifend. Curabitur vitae turpis eget mi vulputate volutpat. Curabitur molestie magna non tellus viverra ornare. Etiam enim sapien, tristique et faucibus et, scelerisque id risus.</p>
      <p>Sed quis tortor metus. Morbi fringilla in mi ac accumsan. Vestibulum in arcu turpis. Donec congue interdum eleifend.</p>
      <a class="btn-u btn-u-red" href="#">View more</a>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="revolving" class="top">&nbsp;</a>
    <div class="col-md-4 md-margin-bottom-20">
      <h2 class="heading-md"><span class="color-green1">Revolving</span> Credit</h2>    
      <p>Donec bibendum vitae lacus vitae eleifend. Curabitur vitae turpis eget mi vulputate volutpat. Curabitur molestie magna non tellus viverra ornare. Etiam enim sapien, tristique et faucibus et, scelerisque id risus.</p>
      <p>Sed quis tortor metus. Morbi fringilla in mi ac accumsan. Vestibulum in arcu turpis. Donec congue interdum eleifend.</p>
      <a class="btn-u btn-u-green" href="#">View more</a>
    </div>
    <div class="col-md-8 green">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-bell-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-hdd-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-lightbulb-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-thumbs-o-up icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row about-product margin-tb-80">
    <a name="imagine" class="top">&nbsp;</a>
    <div class="col-md-8 blue">
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-bell-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-hdd-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-lightbulb-o icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
        <div class="col-sm-6 info-blocks">
          <i class="fa fa-thumbs-o-up icon-info-blocks"></i>
          <div class="info-blocks-in">
            <h3>New title comes here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 md-margin-bottom-20"> 
      <h2 class="heading-md">Your <span class="color-blue">Imagination</span></h2>   
      <p>Donec bibendum vitae lacus vitae eleifend. Curabitur vitae turpis eget mi vulputate volutpat. Curabitur molestie magna non tellus viverra ornare. Etiam enim sapien, tristique et faucibus et, scelerisque id risus.</p>
      <p>Sed quis tortor metus. Morbi fringilla in mi ac accumsan. Vestibulum in arcu turpis. Donec congue interdum eleifend.</p>
      <a class="btn-u btn-u-blue" href="#">View more</a>
    </div>
  </div>
{% endblock %}