{% extends "base.html" %}

{% block content %}
<div class="clear"></div>
<div class="container-wrapper container-top">
  <div class="container container-top">
    <div class="row">
      <div class="col-md-12 center">
        <h1>Documentation</h1>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<div class="clear"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3 bs-docs-nav-wrapper">
      <ul class="nav nav-pills nav-stacked bs-docs-nav affix-top" data-spy="affix" data-offset-top="250" data-offset-bottom="350">
        <li><a href="#scrollspy-overview" class="list-group-item">Overview of tabb.io</a></li>
        <li><a href="#scrollspy-started" class="list-group-item">Using the API</a></li>
        <li><a href="#scrollspy-integrating" class="list-group-item">Integrating tabb.io into the front-end</a></li>
      </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
    <!-- ######### BREAK ######### -->
      <h2 id="scrollspy-overview">Overview of tabb.io</h2>
      <p>This is how yoour customer will experience tabb.io:</p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check-square-o"></span>The customer will browse your store and choose a product they are interested in.</li>
        <li><span class="fa fa-li fa-check-square-o"></span>They will then proceed to checkout and choose "tabb.io" as a payment method.</li>
        <li><span class="fa fa-li fa-check-square-o"></span>Once your customer clicks the checkout button, you will query the tabb.io API with the order details and customer information.</li>
        <li><span class="fa fa-li fa-check-square-o"></span>Tabb.io will respond with an acceptance or refusal based on the information sent over.</li>
        <li><span class="fa fa-li fa-check-square-o"></span>The customer now has 14 days to pay without any charges!</li>
      </ul>
      <hr>
    <!-- ######### BREAK ######### -->
      <h2 id="scrollspy-started">Using the API</h2>
      <p>There are a few steps you must take in order to use the tabb.io API:</p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check-square-o"></span>Sign up for a merchant account.</li>
        <li><span class="fa fa-li fa-check-square-o"></span>Request your staging and production environment IP's get whitelisted.</li>
        <li><span class="fa fa-li fa-check-square-o"></span>Use the API key that tabb.io gives you - you will receive different API keys for the different environments.</li>
      </ul>
      <br>
	      <h3>Verification Checklist</h3>
	      <p>Before moving on to integration, please make sure you can access both our query and command methods from both staging and production:</p>
	      <ul class="fa-ul">
	      	<li><strong>Staging</strong></li>
	        <li><span class="fa fa-li fa-bolt"></span>http://staging.merchantapi.tabb.io/command/api</li>
	        <li><span class="fa fa-li fa-bolt"></span>http://staging.merchantapi.tabb.io/query/api</li>
	        <li><strong>Production</strong></li>
	        <li><span class="fa fa-li fa-bolt"></span>http://merchantapi.tabb.io/command/api</li>
	        <li><span class="fa fa-li fa-bolt"></span>http://merchantapi.tabb.io/query/api</li>
	      </ul>
      <hr>
    <!-- ######### BREAK ######### -->
      <h2 id="scrollspy-integrating">Integrating tabb.io into the front-end</h2>
      <p>..</p>
    </div>
   </div>
</div>
<div class="clear"></div>
{% endblock %}