{% extends "base.html" %}

{% block content %}
<div class="panel panel-{{colorTheme}} margin-bottom-40">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-bars"></i> Invoices</h3>
	</div>
	<div class="panel-body">
	</div>                                      
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Invoice</th>
				<th>Amount</th>
				<th>First Name</th>
				<th class="hidden-sm">Last Name</th>
				<th>Status</th>
				<th>Progress</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>03/23/14</td>
				<td>S2ef</td>
				<td>$232.53</td>
				<td>Mark</td>
				<td class="hidden-sm">Otto</td>
				<td><span class="label label-success">Current</span></td>
				<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="55"><div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" ng-transclude="" style="width: 55%;"></div></div></td>
			</tr>
			<tr>
				<td>03/25/14</td>
				<td>DF2G</td>
				<td>$837.39</td>
				<td>Jacob</td>
				<td class="hidden-sm">Thornton</td>
				<td><span class="label label-success">Current</span></td>
				<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="85"><div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" ng-transclude="" style="width: 85%;"></div></div></td>
			</tr>
			<tr>
				<td>03/27/14</td>
				<td>E2fd</td>
				<td>$1,342.87</td>
				<td>Larry</td>
				<td class="hidden-sm">the Bird</td>
				<td><span class="label label-danger">Delinquent</span></td>
				<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="13"><div class="progress-bar progress-bar-warning" ng-class="type &amp;&amp; 'progress-bar-' + type" ng-transclude="" style="width: 13%;"></div></div></td>
			</tr>
			<tr>
				<td>03/30/14</td>
				<td>DF2f</td>
				<td>$128.11</td>
				<td>Abby</td>
				<td class="hidden-sm">Roxy</td>
				<td><span class="label label-warning">15 Days Late</span></td>
				<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="35"><div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" ng-transclude="" style="width: 35%;"></div></div></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}