{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-3 col-sm-3">
		<div class="panel mini-box">
			<span class="box-icon">
				<i class="fa fa-shopping-cart icon-bg-red icon-custom icon-lg rounded-x"></i>
			</span>
			<div class="box-info">
				<h2>{{ totalTransactions }}</h2>
				<p class="text-muted">Transactions</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-3">
		<div class="panel mini-box">
			<span class="box-icon">
				<i class="fa fa-rocket icon-bg-sea icon-custom icon-lg rounded-x"></i>
			</span>
			<div class="box-info">
				<h2>{{ acceptancePercent }}%</h2>
				<p class="text-muted">Acceptance</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-3">
		<div class="panel mini-box">
			<span class="box-icon">
				<i class="fa fa-dollar icon-bg-yellow icon-custom icon-lg rounded-x"></i>
			</span>
			<div class="box-info">
				<h2>${{ totalRevenue }}</h2>
				<p class="text-muted">Revenue</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-3">
		<div class="panel mini-box">
			<span class="box-icon">
				<i class="fa fa-users icon-bg-blue icon-custom icon-lg rounded-x"></i>
			</span>
			<div class="box-info">
				<h2>{{ totalCustomers }}</h2>
				<p class="text-muted">Consumers</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><strong><span>Most Recent Invoices</span></strong></div>
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Invoice #</th>
					<th>Amount</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for loan in loans %}
					<tr>
						<td>{{ timeago(loan.createdDate) }}</td>
						<td>{{ loan.id }}</td>
						<td>${{ loan.loanAmount.toFixed(2) }}</td>
						<td>{{ loan.firstName }}</td>
						<td>{{ loan.lastName }}</td>
						<td><span class="label label-success">Approved</span></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}