{% extends "base.html" %}
{% import '../../macros/forms.html' as forms %}

{% block masttitle %}{{ businessName }} Settings{% endblock masttitle %}

{% block content %}
<form action="" class="form-horizontal" id="merchant-settings-form">
  <fieldset>
    {{ forms.form_field("text", "fname", "fname", "First Name", fname.value, "", fname.errors, "") }}
    {{ forms.form_field("text", "lname", "lname", "Last Name", lname.value, "", lname.errors, "") }}
    {{ forms.form_field("text", "company", "company", "Company", company.value, "", company.errors, "") }}
    {{ forms.form_field("text", "url", "url", "Company Website", url.value, "", url.errors, "") }}
    {{ forms.form_field("text", "phone", "phone", "Phone Number", phone.value, "", phone.errors, "") }}
    {{ forms.form_field("text", "email", "email", "E-mail", email.value, "", email.errors, "") }}
  </fieldset>
  <hr>
  <fieldset>
    {{ forms.form_field("text", "tabb_url", "tabb_url", "tabb.io URL", tabb_url.value, "", tabb_url.error, "Reserve your tabb.io name. For example, enter 'franksbikes' to reserve franksbikes.tabb.io.", "", "tabb.io") }}
    {{ forms.form_field("file", "company_logo", "logo", "Company Logo URL", company_logo.value, "9", company_logo.error, "Your logo will show in both the admin and customer portals. Upload your logo.", "", "") }}
    <div class="form-group">
      <label class="col-sm-2 control-label">Theme Color</label>
      <div class="col-sm-3">
        {{ forms.radio_color("radio", "themeColors", "themeColors1", "Asphalt", "asphalt", themeColors.error, "3bc2a9", "333333", "4f4f4f") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors2", "Admin Flare", "adminflare", themeColors.error, "418ce4", "418ce4", "2b2b2b") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors3", "Clean", "clean", themeColors.error, "3d4a5d", "3d4a5d", "edf0f1") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors4", "Default", "default", themeColors.error, "ffffff", "ffffff", "23272d") }}
      </div>
      <div class="col-sm-3">
        {{ forms.radio_color("radio", "themeColors", "themeColors5", "Dust", "dust", themeColors.error, "f65d35", "ffffff", "433d3c") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors6", "Fresh", "fresh", themeColors.error, "94c53e", "94c53e", "43474b") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors7", "Frost", "frost", themeColors.error, "1aaada", "ffffff", "2a2d33") }} 
      </div>
      <div class="col-sm-3">
        {{ forms.radio_color("radio", "themeColors", "themeColors8", "Purple Hills", "purple-hills", themeColors.error, "a48ad4", "2e313e", "3c3e49") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors9", "Silver", "silver", themeColors.error, "ebebeb", "ebebeb", "333333") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors10", "White", "white", themeColors.error, "eeeeee", "eeeeee", "ffffff") }}
      </div> 
    </div>
  </fieldset>
  <hr class="panel-wide">
  {{ forms.submit("", "", "", "Save Company Settings") }}
</form>
{% endblock %}

{% block scripts %}
{% parent %}
<script type="text/javascript" src="/js/forms/merchant-settings.js"></script>  
<script type="text/javascript">
  jQuery(document).ready(function() {
    SettingsForm.initSettingsForm();
  });
</script>  
{% endblock %}