{% extends "base.html" %}
{% import '../../macros/forms.html' as forms %}

{% block masttitle %}{{ businessName }} Settings{% endblock masttitle %}

{% block content %}
<script>
  init.push(function () {
    // Setup masks
    $("#phone").mask("(999) 999-9999");

    // Add phone validator
    $.validator.addMethod(
      "phone_format",
      function(value, element) {
        var check = false;
        return this.optional(element) || /^\(\d{3}\)[ ]\d{3}\-\d{4}$/.test(value);
      },
      "Please enter a valid phone number"
    );

    // Setup validation
    $("#merchant-settings-form").validate({
      focusInvalid: false,
      rules: {
        'fname': {
          required: true
        },
        'lname': {
          required: true
        },
        'company': {
          required: true
        },
        'url': {
          required: true,
          url: true
        },
        'phone': {
          required: true,
          phone_format: true
        },
        'email': {
          required: true,
          email: true
        },
        'tabb_url': {
          required: true
        },
        'company_logo': {
          url: true
        }
      },
      messages: {
        'fname': {
          required: 'Please enter your first name'
        },
        'lname': {
          required: 'Please enter your last name'
        },
        'company': {
          required: 'Please enter your company name'
        },
        'url': {
          required: 'Please enter your company\'s URL',
          url: 'Please enter a valid URL (include http!)'
        },
        'phone': {
          required: 'Please enter your phone number'
        },
        'email': {
          required: 'Please enter your email address',
          email: 'Please enter a valid email address'
        },
        'tabb_url':{
          required: 'Please enter a name for your spot on tabb.io'
        },
        'company_logo': {
          url: 'Please enter a valid URL (include http!)'
        }
      }
    });
  });
</script>

<form class="form-horizontal" id="merchant-settings-form">
  <fieldset>
    {{ forms.input("text", "fname", "fname", "First Name", fname.value, fname.errors, "") }}
    {{ forms.input("text", "lname", "lname", "Last Name", lname.value, lname.errors, "") }}
    {{ forms.input("text", "company", "company", "Company", company.value, company.errors, "") }}
    {{ forms.input("text", "url", "url", "Company Website", url.value, url.errors, "") }}
    {{ forms.input("text", "phone", "phone", "Phone Number", phone.value, phone.errors, "") }}
    {{ forms.input("text", "email", "email", "E-mail", email.value, email.errors, "") }}
  </fieldset>
  <hr>
  <fieldset>
    {{ forms.input_addon("text", "tabb_url", "tabb_url", "tabb.io URL", tabb_url.value, tabb_url.errors, "Reserve your tabb.io name. For example, enter 'franksbikes' to reserve franksbikes.tabb.io.", "tabb.io") }}
    {{ forms.fileUploadDZ("company_logo", "logo", "Company Logo URL", "company_logo.error", "Your logo will show in both the admin and customer portals. Upload your logo.") }}
    <div class="form-group">
      <label class="col-sm-2 control-label">Theme Color</label>
      <div class="col-sm-3">
        {{ forms.radio_color("radio", "themeColors", "themeColors1", "Asphalt", "asphalt", themeColors.error, "3bc2a9", "333333", "4f4f4f") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors2", "Admin Flare", "adminflare", themeColors.error, "418ce4", "418ce4", "2b2b2b") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors3", "Clean", "clean", themeColors.error, "3d4a5d", "3d4a5d", "edf0f1") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors4", "Default", "default", themeColors.error, "ffffff", "ffffff", "23272d") }}
      </div>
      <div class="col-sm-3">
        {{ forms.radio_color("radio", "themeColors", "themeColors5", "Dust", "dust", themeColors.error, "f65d35", "ffffff", "433d3c") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors6", "Fresh", "fresh", themeColors.error, "94c53e", "94c53e", "43474b") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors7", "Frost", "frost", themeColors.error, "1aaada", "ffffff", "2a2d33") }} 
      </div>
      <div class="col-sm-3">
        {{ forms.radio_color("radio", "themeColors", "themeColors8", "Purple Hills", "purple-hills", themeColors.error, "a48ad4", "2e313e", "3c3e49") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors9", "Silver", "silver", themeColors.error, "ebebeb", "ebebeb", "333333") }}
        {{ forms.radio_color("radio", "themeColors", "themeColors10", "White", "white", themeColors.error, "eeeeee", "eeeeee", "ffffff") }}
      </div> 
    </div>
  </fieldset>
  <hr class="panel-wide">
  {{ forms.submit("submit", "submit", "", "Save Company Settings") }}
</form>
{% endblock %}