{% extends 'base.html' %}

{% block content %}
  <div class="container container-login">
    <div class="row">
      <form class="form-horizontal form-login" role="form">
        <a href={{urls.static.root}}><div class="logo"></div></a>
      <h1>Loan Application</h1>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="first_name" placeholder="First Name">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="last_name" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="col-sm-3 control-label">Address</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="address_1" placeholder="Address Line 1">
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="col-sm-3 control-label"></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="address_2" placeholder="Address Line 2">
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="col-sm-3 control-label">City</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="city" placeholder="City">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">State</label>
          <div class="col-sm-4">
            <select name="state" class="form-control" id="state">
                <option value="">Please choose...</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Zip Code</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="zip_code" placeholder="Zip Code">
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="col-sm-3 control-label">Phone</label>
          <div class="col-sm-5">
            <input type="number" class="form-control" id="phone" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="col-sm-3 control-label">SSN</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="last4ssn" placeholder="Last 4 SSN#">
          </div>
        </div>
        <div class="space-50"></div>
        <div class="form-group">
          <div class="controls">
            <button class="btn btn-lg btn-block btn-purple" type="submit">Apply for Loan</button>
          </div><!-- end controls -->
        </div><!-- end form group -->
        <div class="space-50"></div>
      </form>
    </div><!-- end row -->
  </div><!-- end container -->
{% endblock content %}
