{% extends "base.html" %}

{% block top_error %}
  <h2>We're having some server issues.</h2>
  <h1 class="font-lg">5<i class="fa fa-times-circle-o"></i><i class="fa fa-times-circle-o"></i></h1>
  <p>We feel great shame in telling you this... but our servers are having some issues. Shame.</p>
{% endblock top_error %}

{% block bottom_error %}
  <h4>We're having some server issues.</h4>
  <p>Please try again later, go back to the <a href="/">homepage</a>, or <a href="/contact">contact us</a> if you think this is a mistake.</p>
{% endblock bottom_error %}