{% extends "base.html" %}

{% block masttitle %}
<h1>Invoice #123456789</h1>
{% endblock masttitle %}

{% block content %}
{% parent %}
<!--Invoice Details-->
<div class="row invoice-info">
	<div class="col-sm-6">
		<div class="tag-box tag-box-v3">
			<h2>Client Information:</h2>
			<ul class="list-unstyled">
				<li><strong>Name:</strong> Frank Fumarola</li>
				<li><strong>Phone:</strong> (410) 382-6574</li>
			</ul>
		</div>        
	</div>
	<div class="col-sm-6">
		<div class="tag-box tag-box-v3">
			<h2>Payment Details:</h2>        
			<ul class="list-unstyled">
				<li><strong>Merchant Name:</strong> Total Hockey</li>
				<li><strong>Purchase Date:</strong> April 01, 2014</li>
			</ul>
		</div>
	</div>
</div>
<!--End Invoice Details-->
<!--Invoice Table-->
<div class="panel panel-grey margin-bottom-50">
	<div class="panel-heading">
		<h3 class="panel-title">What You Bought</h3>
	</div>
	<table class="table table-striped invoice-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Item</th>
				<th class="hidden-sm">Description</th>
				<th>Quantity</th>
				<th>Unit Cost</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Grill</td>
				<td class="hidden-sm">At vero eos et accusamus etofficia mollitia</td>
				<td>1</td>
				<td>$1,847</td>
				<td>$1,847</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Lawn lights</td>
				<td class="hidden-sm">Verode eoset accusamus etofficia deserunt</td>
				<td>18</td>
				<td>$28</td>
				<td>$504</td>
			</tr>
		</tbody>
	</table>
</div>
<!--End Invoice Table-->
<!--Invoice Footer-->
<div class="row">
	<div class="col-sm-6">
		<div class="tag-box tag-box-v6">
			<h2>Fusce condimentum enim</h2>
			<p><strong>Note:</strong> Atharum quidem rerum facexpe ditailis est et  distinctio lorem ipsum dolor sit amet consectetur adipiscing elit.</p><br>
			<address>
				123 Main St.<br>
				Philadelphia, PA 19128 <br>
				Phone: 800 123 4567 <br>
				Email: <a href="mailto:billing@tabb.io">billing@tabb.io</a>
			</address>                
		</div>            
	</div>
	<div class="col-sm-6 text-right">
		<ul class="list-unstyled invoice-total-info">
			<li><strong>Grand Total:</strong> $2,351</li>
		</ul>
		<button class="btn btn-default btn-lg" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</button>            
		<a href={{urls.consumers.upay}}><button class="btn btn-primary btn-lg">Schedule Payment</button></a>         
	</div>
</div>
<!--End Invoice Footer-->
{% endblock %}