{% extends "base.html" %}

{% block content %}
<!--Invoice Table-->
<div class="row">
  <div class="col-sm-8">
    <div class="hero-widget">
      <div class="col-sm-8">
        <div class="inner-pchart">
          <div class="circle" id="circle-1"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text">
          <var>${{ loan.loanAmount.toFixed(2) }}</var>
          <label class="text-muted">Original Purchase Amount</label>
        </div>
        <div class="text">
          <var>${{ loan.loanAmount.toFixed(2) }}</var>
          <label class="text-muted">Balance Remaining</label>
        </div>
        <div class="options padding-top-15">
          <a href={{urls.invoices.details(loan.id)}}><button class="btn btn-primary btn-lg">View Details</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="hero-widget well well-sm">
      <div class="icon">
        <i class="icon-calendar"></i>
      </div>
      <div class="text">
        <var>${{ loan.paymentAmount.toFixed(2) }} <span style="font-size:12px;">on</span> {{ loan.paymentDueDate|date('M j, Y') }}</var>
        <label class="text-muted">Next Payment</label>
      </div>
      <div class="options">
        <a href={{urls.invoices.pay(loan.id)}}><button class="btn btn-primary btn-lg">Schedule Payment</button></a>
      </div>
    </div>
  </div>
</div>
<!--End Invoice Table-->
{% endblock content %}



{%- block scripts %}
{% parent %}
<script type="text/javascript" src="/vendor/circles-master/circles.js"></script>
<script>
jQuery(document).ready(function() {
  CirclesMaster.initCirclesMaster1();
});
var CirclesMaster = function () {
  return {
        // Both Circles
        initCirclesMaster1: function () {
          // Purchase Amount + Remaining Balance
          var percentage = 87;
          Circles.create({
            id:         'circle-1',
            percentage: percentage,
            radius:     150,
            width:      15,
            number:     {{ loan.loanAmount.toFixed(2) }},
            text:       '$',
            colors:     ['#eee', '#72c02c'],
            duration:   800
          })
        },
      };
    }();
    </script>
{%- endblock scripts %}
