{% extends "base.html" %}

{% block masttitle %}Invoice {{ loan.id }} Summary{% endblock masttitle %}

{% block content %}
<!-- PIE CHARTS
 ===================================================================== -->
<script>
  init.push(function () {
    // Easy Pie Charts
    var easyPieChartDefaults = {
      animate: 2000,
      scaleColor: false,
      lineWidth: 20,
      lineCap: 'square',
      size: 280,
      trackColor: '#e5e5e5'
    }
    $('#pie-chart-1').easyPieChart($.extend({}, easyPieChartDefaults, {
      barColor: PixelAdmin.settings.consts.COLORS[1]
    }));
  });
</script>
<div class="row">
  <div class="col-sm-4">
    <div class="text-center">
      <div class="stat-row">
        <div class="stat-cell no-padding-hr">
          <div class="pie-chart" data-percent="79.4" id="pie-chart-1">
            <div class="pie-chart-label"><h2>Amount Due</h2>$7,943.23</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <h2>Next Payment</h2>
    <div class="stat-panel">
      <a href="#" class="stat-cell col-xs-6 bg-warning bordered no-border-vr no-border-l no-padding valign-middle text-center text-lg">
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;<strong> {{ loan.paymentDueDate|date('M j, Y') }}</strong>
      </a> 
      <div class="stat-cell col-xs-6 no-padding valign-middle">
        <div class="stat-rows">
          <div class="stat-row">
            <a href="#" class="stat-cell bg-warning padding-lg valign-middle">
              Original Balance
              <span class="pull-right">${{ loan.loanAmount.toFixed(2) }}</span>
            </a>
          </div>
          <div class="stat-row">
            <a href="#" class="stat-cell bg-warning darken padding-lg valign-middle">
              Current Balance
              <span class="pull-right">${{ loan.loanAmount.toFixed(2) }}</span>
            </a>
          </div>
          <div class="stat-row">
            <a href="#" class="stat-cell bg-warning darker padding-lg valign-middle">
              Payment Due
              <span class="pull-right">${{ loan.paymentAmount.toFixed(2) }}</span>
            </a>
          </div>
        </div> 
      </div> 
    </div>
    <div class="pull-right">
      <a href={{urls.invoices.details(loan.id)}}><button class="btn btn-lg btn-default">View Details</button></a>
      <a href={{urls.invoices.pay(loan.id)}}><button class="btn btn-lg btn-primary">Schedule Payment</button></a>
    </div>
  </div>
</div>
{% endblock content %}

