{% extends "base.html" %}

{% block body_attribs %}class="theme-{% if colorTheme %}{{colorTheme}}{% else %}default{% endif %} main-menu-animated main-navbar-fixed main-menu-fixed dont-animate-mm-content-sm animate-mm-md animate mm-lg page-invoice"{% endblock body_attribs %}>

{%- block masthead -%}
  <div class="page-header">
    <h1><i class="fa fa-file-text-o page-header-icon"></i>&nbsp;&nbsp;Invoice {{ loan.id }} Details</h1>
    <a href="#" class="pull-right btn btn-primary" style="display: block;" target="_blank" onclick="javascript:window.print();"><i class="fa fa-print"></i>&nbsp;&nbsp;Print Invoice</a>
  </div>
{%- endblock masthead %}

{% block content %}
<div class="panel invoice">
  <div class="invoice-header">
    <h3>
      <div class="invoice-logo demo-logo"><img src="assets/demo/logo-big.png" alt="" style="width:100%;height:100%;"></div>
      <div>
        <small><strong>{{ businessName }}</strong></small><br>
        INVOICE {{ loan.id }}
      </div>
    </h3>
    <address>
      Purchase Date<br>
      {{ loan.createdDate|date('M j, Y') }}
    </address>
    <div class="invoice-date">
      <small><strong>Invoice Date</strong></small><br>
      April 21, 2013
    </div>
  </div> <!-- / .invoice-header -->
  <div class="invoice-info">
    <div class="invoice-recipient">
      <strong>{{ loan.name }}</strong><br>
      {{ loan.phone }}<br>
    </div> <!-- / .invoice-recipient -->
    <div class="invoice-total">
      <span>${{ loan.loanAmount.toFixed(2) }}</span>
      TOTAL:
    </div> <!-- / .invoice-total -->
  </div> <!-- / .invoice-info -->
  <hr>
  <div class="invoice-table">
    <table>
      <thead>
        <tr>
          <th>Item description</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Line total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            3 Burner Grill
            <div class="invoice-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
          </td>
          <td>$2,500.00</td>
          <td>1</td>
          <td>$2,500.00</td>
        </tr>
        <tr>
          <td>
            Lawn Lights
            <div class="invoice-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
          </td>
          <td> $47.95</td>
          <td>45</td>
          <td>$2,157.75</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- / .invoice-table -->
</div> <!-- / .invoice -->
{% endblock %}